# --- Core de grafos y mapas ---
osmnx==1.9.2
networkx==3.3
geopy==2.4.1
scikit-learn==1.7.2

# --- API REST ---
fastapi==0.115.0
uvicorn==0.30.3

# --- Visualización ---
matplotlib==3.9.2
geopandas>=0.14
shapely>=2.0
pyproj>=3.6
rtree>=1.2.0     # opcional (acelera)
folium>=0.14     # .explore usa folium internamente
mapclassify>=2.6 # requerido por .explore

# --- Utilidades ---
requests==2.32.3
python-dotenv==1.0.1
cryptography==45
